.card {
    display: flex;
    flex-direction: column;

    background-color: #4249F9;
    padding: 25px;
    margin: 1rem;

    min-width: 50%;

    border-radius: 8px;
    box-shadow: 3px 5px 4px #00000040;
}

.title {
    display: flex;
    padding: 10px;
    align-items: center;
}